body {
    background-color: grey;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
}

h1 {
    color: rgb(190, 16, 149);
    font-weight: bold;
}

section {
    padding: 10px;
    margin: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 15px;
}

a {
    list-style: none;
    text-decoration: none;
    color: rgb(190, 16, 149);
}

section>ul>li {
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(201, 199, 199);
}

section>ul>li>a {
    font-weight: bold;
}

.mainContainer {
    display: flex;
}

.leftSection {
    width: 800px;
}

.leftSection p {
    margin: 0 0 10px 0;
}

.margenedLeft {
    margin-left: 100px;
}

.margenedRight {
    margin-right: 100px;
}